.article {
	position: relative;
	z-index: 1;
	padding-top: 200rem;
	overflow: hidden;

	@include to(980px) {
		padding-top: 150rem;
	}

	@include to(580px) {
		padding-top: 100rem;
	}

	&__wrap {
		display: grid;
		grid-template-columns: 70rem 950rem;
		gap: 50rem 20rem;
		align-items: center;
		color: $color;

		@include to(980px) {
			grid-template-columns: 55rem 1fr;
			gap: 35rem 20rem;
		}

		@include to(768px) {
			grid-template-columns: 1fr;
			gap: 20rem;
		}
	}

	&__title {
		@include from(769px) {
			grid-column: 2 / 3;
		}
	}

	&__content {
		@include from(769px) {
			grid-column: 2 / 3;
		}

		> * {
			margin: 24rem 0;

			@include to(580px) {
				margin: 12rem 0;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__text {
		&.h6 {
			line-height: 1.4;
		}
	}

	&__photo {
		margin: 32rem 0;
		overflow: hidden;

		@include to(580px) {
			margin: 16rem 0;
		}

		&_radius {
			border-radius: 10rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list {
		margin: 32rem 0;

		@include to(580px) {
			margin: 16rem 0;
		}
	}

	&__box {
		margin: 40rem 0;
		color: #fff;

		@include to(580px) {
			margin: 20rem 0;
		}

		&-item {
			position: relative;
			z-index: 1;
			padding: 40rem;
			background-color: #223147;
			border-radius: 10rem;

			&_not-full {
				overflow: hidden;
			}

			@include from(769px) {
				.article__box-item:not(.article__box-item_not-full) & {
					border-radius: 10rem 0 0 10rem;

					&::before {
						position: absolute;
						inset: 0 0 0 0;
						z-index: -1;
						width: 100vw;
						content: '';
						background-color: #223147;
						border-radius: inherit;
					}
				}
			}

			@include to(980px) {
				padding: 30rem;
			}

			@include to(580px) {
				padding: 20rem;
			}

			&:not(:last-child) {
				margin-bottom: 20rem;

				@include to(580px) {
					margin-bottom: 10rem;
				}
			}

			&_blue {
				background-color: #3173db;

				@include from(769px) {
					&::before {
						background-color: #3173db;
					}
				}
			}

			&_marine {
				background-color: $color-marine;

				@include from(769px) {
					&::before {
						background-color: $color-marine;
					}
				}
			}
		}

		&-text {
			margin-bottom: 24rem;

			@include to(580px) {
				margin-bottom: 12rem;
			}
		}

		&-row {
			@include to(580px) {
				flex-direction: column;
			}

			&:not(:last-child) {
				margin-bottom: 12rem;
			}
		}

		&-aside {
			@include from(581px) {
				flex: 0 0 200rem;
				margin-right: 24rem;
			}
		}

		&-content {
			@include from(581px) {
				flex: 1;
			}

			@include to(580px) {
				margin-top: 12rem;
			}
		}

		&-caption {
			margin-bottom: 24rem;

			@include to(580px) {
				margin-bottom: 12rem;
			}
		}

		.list {
			&__item {
				&:not(:last-child) {
					margin-bottom: 24rem;

					@include to(580px) {
						margin-bottom: 12rem;
					}
				}
			}
		}
	}

	&__columns {
		gap: 32rem;
		margin: 24rem 0 48rem;

		@include to(980px) {
			margin-bottom: 36rem;
		}

		@include to(580px) {
			gap: 16rem;
			margin: 12rem 0 24rem;
		}

		&-cell {
			flex: 1 1 calc(50% - 20rem);

			@include to(580px) {
				flex-basis: 100%;
			}
		}

		&-list {
			margin-top: 16rem;

			@include to(580px) {
				margin-top: 12rem;
			}
		}
	}

	&__rows {
		margin: 24rem 0 32rem;

		@include to(580px) {
			margin: 12rem 0 16rem;
		}

		&-item {
			&:not(:last-child) {
				margin-bottom: 24rem;

				@include to(580px) {
					margin-bottom: 12rem;
				}
			}

			@include to(580px) {
				flex-direction: column;
			}
		}

		&-caption {
			@include from(581px) {
				flex: 1;
				margin-right: 16rem;
			}
		}

		&-text {
			@include from(581px) {
				flex: 0 1 75%;
			}

			@include from(981px) {
				flex-basis: 640rem;
			}

			@include to(580px) {
				margin-top: 12rem;
			}
		}
	}

	&__three-columns {
		gap: 20rem;
		margin: 24rem 0 40rem;

		@include to(980px) {
			margin-bottom: 30rem;
		}

		@include to(580px) {
			gap: 10rem;
			margin: 12rem 0 20rem;
		}

		&-item {
			@include from(769px) {
				flex: 1 1 calc(#{div(100, 3)}% - 20rem);
			}

			@include to(768px) {
				flex: 0 0 100%;
			}

			> *:not(:last-child) {
				margin-bottom: 12rem;

				@include to(580px) {
					margin-bottom: 8rem;
				}
			}
		}
	}

	&__contents {
		&-list {
			margin-top: 24rem;

			@include to(580px) {
				margin-top: 12rem;
			}
		}

		&-button {
			color: $color;
			text-align: left;
			transition: color $default-transition-duration $default-transition-function;

			.order-list__item &:hover {
				color: $color-blue;
			}
		}

		.order-list__item {
			width: fit-content;
			padding-left: 36rem;
			transition: color $default-transition-duration $default-transition-function;

			@include to(580px) {
				padding-left: 24rem;
			}

			&:hover {
				color: $color-blue;
			}
		}
	}

	&__block {
		width: 100%;
		max-width: 800rem;
		padding: 20rem;
		background-color: #fff;
		border: 1px solid rgb(88 151 251 / 50%);
		border-radius: 10px;

		@include to(580px) {
			padding: 10rem;
		}
	}

	&__description {
		@include from(769px) {
			padding-left: 30rem;
		}

		&-item {
			&:not(:last-child) {
				margin-bottom: 20rem;

				@include to(580px) {
					margin-bottom: 15rem;
				}
			}

			@include to(580px) {
				flex-flow: column nowrap;
			}
		}

		&-photo {
			@include from(581px) {
				flex: 0 0 150rem;
				margin-right: 20rem;
			}

			@include to(580px) {
				margin-bottom: 10px;
			}

			@extend %flex-center;
		}
	}

	&__fond {
		&-item {
			padding: 20rem;
			background-color: #fff;
			border: 1px solid rgb(88 151 251 / 50%);
			border-radius: 10px;

			@include to(580px) {
				flex-flow: column nowrap;
				padding: 15rem;
			}

			.article_e2e-technologies & {
				padding: 0;
				border: none;
				border-radius: 0;
			}

			&:not(:last-child) {
				margin-bottom: 20rem;

				@include to(580px) {
					margin-bottom: 15px;
				}
			}
		}

		&-photo {
			@include from(581px) {
				flex: 0 0 140rem;
				margin-right: 20rem;
			}

			@include from(981px) {
				flex-basis: 170rem;
				margin-right: 30rem;
			}

			@include to(580px) {
				max-width: 125rem;
				margin-bottom: 10px;
			}

			@extend %flex-center;
		}

		&-content {
			@include from(581px) {
				flex: 1;
			}

			> *:not(:last-child) {
				margin-bottom: 20rem;
			}
		}
	}
}
