.belief {
	position: relative;
	z-index: 1;
	padding: var(--section-offset-top) 0 var(--section-offset-bottom);
	overflow: hidden;

	&::before {
		position: absolute;
		inset: 0 0 auto 0;
		max-width: 1300rem;
		height: 1px;
		margin: 0 auto;
		content: '';
		background: linear-gradient(270deg, rgb(134 215 217 / 0%) 16.88%, #86d7d9 52.3%, rgb(134 215 217 / 0%) 90.5%);

		@include to(580px) {
			display: none;
		}
	}

	&__wrap {
		display: grid;
		grid-template-columns: 45% auto;
		gap: 60rem;
		align-items: flex-start;

		@include to(980px) {
			grid-template-columns: 50% auto;
			gap: 45rem;
		}

		@include to(768px) {
			grid-template-columns: 1fr;
		}

		@include to(580px) {
			gap: 30rem;
		}
	}

	&__content {
		@include from(769px) {
			grid-row: span 2;
		}
	}

	&__text {
		margin-top: 60rem;

		@include to(980px) {
			margin-top: 40rem;
		}

		@include to(580px) {
			margin-top: 20rem;
		}
	}

	&__features {
		margin-top: 40rem;

		@include to(980px) {
			margin-top: 30rem;
		}

		@include to(580px) {
			margin-top: 20rem;
		}
	}

	&__feature {
		&:not(:last-child) {
			margin-bottom: 40rem;

			@include to(980px) {
				margin-bottom: 30rem;
			}

			@include to(580px) {
				margin-bottom: 20rem;
			}
		}

		&-icon {
			max-width: 60rem;
			max-height: 60rem;

			@include to(980px) {
				max-width: 50rem;
				max-height: 50rem;
			}

			@include to(580px) {
				max-width: 40rem;
				max-height: 40rem;
			}

			img {
				display: block;
				max-height: 100%;
			}
		}

		&-caption {
			margin-top: 16rem;

			@include to(580px) {
				margin-top: 12rem;
				font-size: 20rem;
			}
		}

		&-text {
			margin-top: 12rem;

			@include to(580px) {
				margin-top: 10rem;
			}
		}
	}

	&__slider-nav {
		@include from(769px) {
			align-self: center;
			margin-left: auto;
		}

		@include to(768px) {
			grid-row: 3 / 4;
			margin: 0 auto;
		}
	}

	&__slider {
		@include from(769px) {
			max-width: 500rem;
			margin: 0 0 0 auto;
		}
	}

	&__slide {
		position: relative;
		width: 100%;

		@include to(768px) {
			width: calc(50% - 8rem);
		}

		&.swiper-slide {
			height: auto;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__background {
		img {
			z-index: -1;
		}
	}
}
