.calendar-plan {
	position: relative;
	z-index: 1;
	padding-top: var(--section-offset-top);
	overflow: hidden;

	@include to(980px) {
		display: none;
	}

	&__photo {
		margin-top: 60rem;

		@include to(1440px) {
			margin-left: -5%;
		}

		@include to(1200px) {
			margin-left: -10%;
		}

		@include to(980px) {
			margin-top: 40rem;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__background {
		img {
			z-index: -1;
		}
	}
}
