.callback-inline {
	padding: var(--section-offset-top) 0 var(--section-offset-bottom);

	&_light {
		background-color: #fff;
	}

	&__box {
		position: relative;
		z-index: 1;
		padding: 60rem;
		overflow: hidden;
		background-color: rgb(88 151 251 / 10%);
		border-radius: 10rem;
		backdrop-filter: blur(43rem);

		@include to(980px) {
			padding: 40rem;
		}

		@include to(580px) {
			padding: 20rem;
		}

		.callback-inline_light & {
			background-color: rgb(88 151 251 / 80%);
		}
	}

	&__title {
		margin-bottom: 40rem;

		@include to(980px) {
			margin-bottom: 30rem;
		}

		@include to(580px) {
			margin-bottom: 20rem;
		}
	}

	&__form {
		gap: 20rem;

		@include to(768px) {
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&__field {
		@include to(768px) {
			flex: 0 0 calc(50% - 20rem);
		}

		@include to(580px) {
			flex-basis: 100%;
		}
	}

	&__button {
		&.button {
			flex-grow: 0;
			flex-shrink: 0;
			padding: 17rem;

			@include from(769px) {
				flex-basis: 25%;
				max-width: 240rem;
			}

			@include from(981px) {
				flex-basis: 240rem;
			}

			@include to(768px) {
				flex-basis: calc(50% - 20rem);
			}

			@include to(580px) {
				flex-basis: 100%;
				padding: 12rem;
			}
		}

		.callback-inline_light &.button {
			&:hover {
				background-color: #fff;
				border-color: #fff;

				.button__text {
					color: #5897fb;
				}
			}
		}
	}

	&__policy {
		font-size: 12rem;
		font-weight: 300;
		line-height: 1.3;

		@include from(769px) {
			width: 100%;
			max-width: 215rem;
		}

		@include to(768px) {
			flex: 0 0 calc(50% - 20rem);
		}

		@include to(580px) {
			flex-basis: 100%;
			font-size: 10rem;
			text-align: center;
		}

		a {
			transition: color $default-transition-duration $default-transition-function,
				opacity $default-transition-duration $default-transition-function;

			&:hover {
				color: $color-blue;
			}
		}

		.callback-inline_light & {
			a {
				&:hover {
					color: #fff;
					opacity: 0.7;
				}
			}
		}
	}

	&__background {
		position: absolute;
		inset: 0;

		img {
			z-index: -1;
		}
	}
}
