.letter-popup {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: none;
	padding: 20px;
	opacity: 0;

	&__overlay {
		position: absolute;
		inset: 0;
		z-index: 1;
		background: rgb(0 0 0 / 30%);
	}

	&__wrap {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: 800rem;
		height: auto;
		max-height: 100%;
		padding: 30rem 50rem;
		margin: auto;
		background-color: #fff;
		opacity: 0;
		transform: translateY(100%);

		@include to(980px) {
			padding-right: 35rem;
			padding-left: 35rem;
		}

		@include to(580px) {
			padding-right: 20rem;
			padding-left: 20rem;
		}
	}

	&__close {
		flex: 0 0 auto;
		width: 48rem;
		height: 48rem;
		fill: transparent;
		stroke: #000;
		stroke-width: 1.5;
		transition: stroke $default-transition-duration $default-transition-function;

		@include to(980px) {
			width: 40rem;
			height: 40rem;
		}

		@include to(580px) {
			width: 32rem;
			height: 32rem;
		}

		&:hover {
			stroke: $color-blue;
		}

		svg {
			width: 28rem;
			height: 28rem;
			pointer-events: none;

			@include to(580px) {
				width: 20rem;
				height: 20rem;
			}
		}
	}

	&__title {
		color: $color;
	}

	&__photo {
		padding: 70rem 50rem;
		margin-top: 30rem;
		background: #fff;
		box-shadow: 0 4rem 50rem rgb(0 0 0 / 7%);

		@extend %flex-center;

		@include to(980px) {
			padding: 45rem 35rem;
			margin-top: 23rem;
		}

		@include to(580px) {
			padding: 20rem;
			margin-top: 15rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
