.main-directions {
	padding-top: var(--section-offset-top);
	background-color: #fff;

	&__title {
		width: 100%;
		max-width: 850rem;

		@include to(980px) {
			max-width: 650rem;
		}

		@include to(580px) {
			max-width: 500rem;
		}
	}

	&__tabs {
		gap: 50rem;
		margin-top: 60rem;

		@include to(980px) {
			gap: 30rem;
			margin-top: 40rem;
		}

		@include to(580px) {
			gap: 10rem;
			margin-top: 20rem;
		}

		&.is-locked {
			pointer-events: none;
		}
	}

	&__tab {
		font-size: 24rem;
		line-height: 1.1;
		color: rgba($color-blue, 0.4);
		transition: color $default-transition-duration $default-transition-function;

		@include to(980px) {
			font-size: 18rem;
		}

		@include to(580px) {
			font-size: 12rem;
		}

		&.is-active {
			color: $color-blue;
		}

		&:hover:not(.is-active) {
			color: $color-blue;
		}

		&-content {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 60rem;

			@include to(980px) {
				gap: 40rem;
			}

			@include to(768px) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include to(580px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 20rem;
			}

			&:not(:first-child) {
				display: none;
			}
		}
	}

	&__content {
		margin-top: 40rem;

		@include to(980px) {
			margin-top: 30rem;
		}

		@include to(580px) {
			margin-top: 20rem;
		}
	}

	&__item {
		position: relative;
		z-index: 1;
		overflow: hidden;
		border-radius: 10rem;

		&::before {
			display: block;
			padding-top: 100%;
			content: '';
		}

		&-inner {
			position: absolute;
			inset: 0;
			padding: 18rem;

			@include to(980px) {
				padding: 14rem;
			}

			@include to(580px) {
				padding: 10rem;
			}
		}

		&-caption {
			font-size: 22rem;
			line-height: 1.1;
			letter-spacing: -0.02em;

			@include to(980px) {
				font-size: 17rem;
			}

			@include to(580px) {
				font-size: 12rem;
			}
		}

		&-photo {
			img {
				z-index: -1;
			}
		}
	}
}
