mixin features(props = {})
	+b.SECTION.features(class=`${props.modes ? `_${props.modes.join(' _')}` : ''}`)
		+e.wrap.wrap.flex._start._center
			each item in props.items
				+e.item.flex._vertical._column._nowrap.text-center
					+e.item-preview
						+icon(item.icon)
					+e.H4.item-caption.h4 #{ item.caption }
