extends ../layouts/default.pug

block append vars
	-
		title = 'Искусственный интеллект';
		body.classList = ['body_light'];
		headerModes = ['transparent'];

block content
	-
		const aiArticleData = {
			mainMode: 'ai',
			title: 'Искусственный интеллект',
			content: [
				{
					contents: {
						caption: {
							contentClass: 'h4 medium-weight',
							content: 'Содержание статьи',
						},
						list: {
							contentClass: 'h5 medium-weight',
							content: [
								{
									href: '#article-ai-1',
									text: 'Введение',
								},
								{
									href: '#article-ai-2',
									text: 'Что такое ИИ?',
								},
								{
									href: '#article-ai-3',
									text: '“Виды” ИИ',
								},
								{
									href: '#article-ai-4',
									text: 'Почему ИИ актуален?',
								},
								{
									href: '#article-ai-5',
									text: 'Как государство финансирует ИИ-проекты',
								},
							],
						},
					},
				},
				{
					content: 'На сегодняшний день популярность искусственного интеллекта (ИИ) растет в геометрической прогрессии, все этим интересуются, государство активно финансирует проекты с присутствием ИИ, но, даже при этом, мало кто понимает, что из себя представляет искусственный интеллект. Многие считают, что это, нечто опасное, что-то, что перевернет наш мир с ног на голову, однако ИИ уже давно стал частью нашей повседневной жизни. ',
					contentClass: 'h5',
					contentHref: 'article-ai-1',
				},
				{
					content: 'Что такое искусственный интеллект? ',
					contentClass: 'h4 medium-weight color-blue',
					contentHref: 'article-ai-2',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Искусственный интеллект</span> — это способность компьютера выполнять различные действия, принимать решения при помощи собственного, обучаемого интеллекта. Это технология, с помощью которой машина решает задачи по заданным алгоритмам. Они очень узко направлены: например, программа, которая умеет отвечать на вопросы, не обучена анализу фотографий.',
						contentClass: 'h6 ',
					},
				},
				{
					content: 'При этом устройства с искусственным интеллектом не настолько ограничены, как обычные машины. Они не просто делают вычисления по готовым формулам, а еще и добавляют собственные данные к результату. Если говорить грубо, интеллект – это проявление личности. Чем выше его уровень, тем выше с эволюционной точки зрения стоит личность. Кроме того, искусственный интеллект — это наука на стыке математики, биологии, психологии, кибернетики и ещё кучи всего. Она изучает технологии, которые позволяют человеку писать «интеллектуальные» программы и учить компьютеры решать задачи самостоятельно. <span class="color-blue">Главная задача искусственного интеллекта</span> — понять, как устроен человеческий интеллект, и смоделировать его. ',
					contentClass: 'h6',
				},
				{
					content: 'Виды Искусственного интеллекта',
					contentClass: 'h4 medium-weight color-blue',
					contentHref: 'article-ai-3',
				},
				{
					content: 'В рамках дорожной карты «Искусственный интеллект и нейротехнологии» выделены следующие субтехнологии: ',
					contentClass: 'h6',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'Компьютерное зрение;',
							'Обработка естественного языка;',
							'Распознавание и синтез речи;',
							'Системы поддержки принятия решений;',
							'Перспективные методы и технологии ИИ',
						],
					},
				},
				{
					content: 'Кроме того, в ней приведены ключевые технические характеристики и требования к уровню готовности вышеперечисленных субтехнологий. ',
					contentClass: 'h6',
				},
				{
					content: 'Компьютерное зрение',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Компьютерное зрение</span> — это область искусственного интеллекта, связанная с анализом изображений и видео. Она включает в себя набор методов, которые наделяют компьютер способностью «видеть» и извлекать информацию из увиденного.',
						contentClass: 'h6 ',
					},
				},
				{
					content: 'Системы состоят из фото- или видеокамеры и специализированного программного обеспечения, которое идентифицирует и классифицирует объекты. Они способны анализировать образы (фотографии, картинки, видео, штрих-коды), а также лица и эмоции.',
					contentClass: 'h6',
				},
				{
					content: 'Чтобы научить компьютер «видеть», используются технологии машинного обучения. Собирается множество данных, которые позволяют выделить признаки и комбинации признаков для дальнейшей идентификации похожих объектов.',
					contentClass: 'h6',
				},
				{
					content: 'Обработка естественного языка',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					content: 'Подраздел искусственного интеллекта, Natural Language Processing (Обработка естественного языка), фокусируется на взаимодействии между компьютером и человеком. С помощью NLP компьютеры, в частности, могут читать, интерпретировать, понимать и понимать человеческий язык. Обработка, как правило, основана на уровне интеллекта машины, который расшифровывает человеческие сообщения в значимое общение.',
					contentClass: 'h6',
				},
				{
					photo: {
						src: require('Images/ai-1.jpg'),
						isBorderRadius: true,
					},
				},
				{
					content: 'Это один из самых мощных инструментов для работы с различными машинными приложениями, такими как онлайн-переводчики и другие голосовые приложения. <span class="color-blue">Как правило, это включает в себя:</span>',
					contentClass: 'h6',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'Языковые инструменты перевода, в том числе Google Translate;',
							'Инструменты MS word, грамматические и другие языковые инструменты, используемые для проверки грамматической точности;',
							'Автоматически генерируемые инструменты голосовых сообщений, которые в основном используются в колл-центрах и отделах по работе с клиентами;',
							'Мобильные или веб-помощники, такие как Siri, OK Google и Alexa.',
						],
					},
				},
				{
					content: 'Распознавание и синтез речи',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Распознавание речи</span> — это раздел компьютерной лингвистики, отвечающий за разработку методов и технологий, которые позволяют использовать компьютер для распознавания и перевода разговорного языка в текст. Также известно как автоматическое распознавание речи (ASR), компьютерное распознавание речи или Speech to Text (STT). Этот раздел включает в себя знания и исследования в области лингвистики, информатики и электротехники. ',
						contentClass: 'h6',
					},
				},
				{
					content: 'Также известно как автоматическое распознавание речи (ASR), компьютерное распознавание речи или Speech to Text (STT). Этот раздел включает в себя знания и исследования в области лингвистики, информатики и электротехники. ',
					contentClass: 'h6',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Синтез речи</span> — это искусственное создание речи, понятной человеку. Компьютерная система, используемая для этого, называется речевым компьютером или синтезатором речи.',
						contentClass: 'h6',
					},
				},
				{
					content: 'Она может быть реализована в виде программных или аппаратных продуктов. Система преобразования текста в речь (TTS) преобразует простой текст в речь. Другие системы переводят символические представления языка, такие как фонетическая транскрипция, в речь. ',
					contentClass: 'h6',
				},
				{
					content: 'Системы поддержки принятия решений',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: 'Это компьютерные автоматизированные системы, целью которых является помощь людям, принимающим решение в сложных условиях, для полного и объективного анализа предметной деятельности. СППР возникли в результате слияния управленческих информационных систем и систем управления базами данных.',
						contentClass: 'h6',
					},
				},
				{
					content: '<span class="color-blue">В СППР используются разные методы:</span> информационный поиск, интеллектуальный анализ данных, поиск знаний в базах данных, рассуждение на основе прецедентов, имитационное моделирование, эволюционные вычисления и генетические алгоритмы, нейронные сети, ситуационный анализ, когнитивное моделирование и другие.',
					contentClass: 'h6',
				},
				{
					photo: {
						src: require('Images/ai-2.svg'),
					},
				},
				{
					content: 'Примеры разработчиков решений в рамках субтехнологии «Рекомендательные системы и интеллектуальные системы поддержки принятия решений»:',
					contentClass: 'h6',
				},
				{
					imageDescription: [
						{
							photo: require('Images/ai-3.png'),
							content: '<span class="medium-weight color-blue">Робот Вера.</span> Российское программное обеспечение, предназначенное для эффективного подбора кандидатов и автоматизированного проведения интервью. Система анализирует различную информацию о кандидатах и производит поиск похожих кандидатов в доступных источниках информации.',
							contentClass: 'h6',
						},
						{
							photo: require('Images/ai-4.svg'),
							content: '<span class="medium-weight color-blue">MyTarget.</span> Система персонализированной рекламы для пользователей с использованием ИИ от Mail Group.',
							contentClass: 'h6',
						},
						{
							photo: require('Images/ai-5.png'),
							content: '<span class="medium-weight color-blue">Smart Machine.</span> Программное обеспечение, предоставляющее аналитические сервисы клиентам из финансовой сферы, имеющим потребность в получении широкого поведенческого профиля каждого абонента мобильной связи страны c использованием ИИ от OneFactor.',
							contentClass: 'h6',
						},
					],
				},
				{
					content: 'Перспективные методы и технологии ИИ',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					content: 'В соответствии с Указом Президента РФ от 10 октября 2019 года “О развитии искусственного интеллекта в Российской Федерации” под перспективными методами и технологиями ИИ понимаются методы, направленные на создание принципиально новой научно-технической продукции, в том числе в целях разработки универсального (сильного) искусственного интеллекта, куда относятся: ',
					contentClass: 'h6',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'автономное решение различных задач;',
							'автоматический дизайн физических объектов;',
							'автоматическое машинное обучение;',
							'алгоритмы решения задач на основе данных с частичной разметкой и (или) незначительных объемов данных;',
							'обработка информации на основе новых типов вычислительных систем;',
							'интерпретируемая обработка данных;',
							'иные методы.',
						],
					},
				},
				{
					content: 'Почему ИИ актуален?',
					contentClass: 'h4 medium-weight color-blue',
					contentHref: 'article-ai-4',
				},
				{
					block: {
						content: 'Cейчас Искусственный интеллект — это одно из самых востребованных направлений, потому что современный мир и современная экономика все больше основываются на данных, количество которых каждый день постоянно растет. Именно данные — это основа, "питательная среда" для ИИ.',
						contentClass: 'h6',
					}
				},
				{
					content: 'Сегодня наш мир вошел в процесс цифровой трансформации, причем она коснулась абсолютно всех отраслей экономики, многие крупные компании сегодня проводят масштабную цифровизацию и трансформацию своих производств.  В настоящее время все почти все глобальные корпорации имеют подразделение работающее с ИИ.',
					contentClass: 'h6',
				},
				{
					content: 'Если рассуждать развитие ИИ в 5-летней перспективе, то можно смело сказать, что он станет инструментом и помощников в руках опытных и грамотных специалистов. Дело не в том, где будет ИИ в будущем, а в том, как изменятся люди и их привычки от внедрения этой технологии.',
					contentClass: 'h6',
				},
				{
					content: 'Через 5 лет подрастет новое поколение, для которого цифровой мир будет уже естественной средой. Это значит, что многие, все еще кажущиеся фантастическими вещи, могут стать вполне обыденными. <span class="color-blue">Например,</span> персонализированная медицина или ИИ сможет подбирать вам одежду, управлять самолетами и очень легко интегрироваться в вашу повседневную жизнь. ',
					contentClass: 'h6',
				},
				{
					content: 'Зачем же ИИ бизнесу?',
					contentClass: 'h5 medium-weight'
				},
				{
					content: 'Искусственный интеллект позволяет компаниям получить дополнительную ценность и так решить основные задачи бизнеса — привлечь внимание потребителя, не обманув его ожиданий, и заработать больше, чем конкуренты.',
					contentClass: 'h6',
				},
				{
					content: 'Как государство финансирует ИИ проекты?',
					contentClass: 'h4 medium-weight color-blue',
					contentHref: 'article-ai-5',
				},
				{
					content: 'Государство Российской Федерации также заинтересовано в развитии Искусственного интеллекта в нашей стране, по этой причине различные институты развития оказывают поддержку малым инновационным предприятиям в нашей стране. На данный момент государство проявляет особый интерес к проектам, в которых присутствует ИИ.',
					contentClass: 'h6',
				},
				{
					content: 'Каким же образом можно получить поддержку от государства?',
					contentClass: 'h5 medium-weight',
				},
				{
					content: 'Подобную возможность малые предприятия, реализующие те или иные технологии в своих продуктах, могут найти в грантовых программах в рамках реализации национальной программы “Цифровая экономика”.',
					contentClass: 'h6',
				},
				{
					fonds: [
						{
							photo: require('Images/ai-6.png'),
							content: [
								{
									content: 'Одним из ведущих институтов развития, оказывающих грантовую поддержку, является Фонд Содействия Инновациям, который уже более 20 лет поддерживает малый инновационный бизнес в нашей стране, ежегодно распределяя свыше 10 млрд. руб. на реализацию инновационных проектов.',
									contentClass: 'h6',
								},
								{
									content: 'Фонд содействия инновациям имеет большое количество грантовых программ, благодаря чему можно подобрать самую релевантную для вашего продукта и стадии его реализации. Грант может быть направлен как на создание или доработку программного решения, так и на вывод продукта на новые рынки и расширение производства.',
									contentClass: 'h6',
								},
							],
						},
						{
							photo: require('Images/ai-7.png'),
							content: [
								{
									content: 'Более зрелые компании могут получить поддержку по программе «Разработка» Российского фонда развития информационных технологий (РФРИТ). Здесь сумма финансирования составляет до 300 млн рублей. Гранты выдаются на разработку российских решений в сфере информационных технологий. ',
									contentClass: 'h6',
								},
								{
									content: 'Данный фонд осуществляет свою деятельность в целях обеспечения поддержки научной, научно-технической и инновационной деятельности в сфере информационно-коммуникационных технологий.',
									contentClass: 'h6',
								},
							],
						},
					],
				}
			],
		};
		const callbackMainData = {
			modes: ['light'],
			title: 'Получите бесплатную консультацию',
			fields: [
				{
					type: 'text',
					name: 'name',
					placeholder: 'Ваше имя',
				},
				{
					type: 'tel',
					inputmode: 'tel',
					name: 'phone',
					placeholder: '+7 (___) ___-__-__',
				},
				{
					type: 'email',
					inputmode: 'email',
					name: 'email',
					placeholder: 'Электронная почта',
				},
			],
			button: {
				text: 'Оставить заявку',
				modes: ['transparent'],
			},
			policy: 'Нажимая кнопку «Оставить заявку», Вы даете свое согласие на обработку <a href="#" class="text-underline">персональных данных.</a>'
		};

	+article(aiArticleData)
	include ../layouts/article-more
	+callback(callbackMainData)

block popups
	include ../layouts/article-popup
