extends ../layouts/default.pug

block append vars
	- title = 'Кейсы';

block content
	include ../layouts/cases-hero

//- block post-style
	//- link(
	//- 	rel='stylesheet'
	//- 	href=require('Styles/pages/cases.scss'))
