extends ../layouts/default.pug

block append vars
	-
		title = 'Сквозные технологии';
		body.classList = ['body_light'];
		headerModes = ['transparent'];

block content
	-
		const e2eTechnologiesArticleData = {
			mainMode: 'e2e-technologies',
			title: 'Сквозные технологии',
			content: [
				{
					content: 'В данной статье речь пойдет о цифровой экономике, а именно — сквозных технологиях, но прежде всего необходимо определиться с этими понятиями.',
					contentClass: 'h3 medium-weight',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Цифровая экономика</span> — это система экономических, социальных и культурных отношений, основанных на использовании цифровых технологий.',
						contentClass: 'h6',
					},
				},
				{
					content: 'Термин также относится к радикальным изменениям, вызванным цифровыми вычислительными и коммуникационными технологиями во второй половине XX века. ',
					contentClass: 'h6',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Сквозные цифровые технологии</span> — ключевые научно-технические направления, которые будут оказывать наиболее существенное влияние на развитие рынков. Кроме того, они тесно связаны с Национальной технологической инициативой и оказывают неотъемлемое воздействие на формирование в России научно-технологического задела, что позволит создать глобально конкурентоспособные высокотехнологичные продукты и сервисы. ',
						contentClass: 'h6',
					},
				},
				{
					content: 'В Послании Федеральному собранию 4 декабря 2014 года в качестве одного из приоритетов государственной политики была обозначена Национальная технологическая инициатива (НТИ). Затем, в 2017 году, была утверждена программа «Цифровая экономика Российской Федерации», где был приведен перечень основных сквозных цифровых технологий. Однако, к 2019 году она перестала действовать. На тот момент в нее входили следующие направления:',
					contentClass: 'h6 medium-weight',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'большие данные;',
							'нейротехнологии и искусственный интеллект;',
							'системы распределенного реестра;',
							'квантовые технологии;',
							'новые производственные технологии;',
							'промышленный интернет; ',
							'компоненты робототехники и сенсорика;',
							'технологии беспроводной связи;',
							'технологии виртуальной и дополненной реальностей.',
						],
					},
				},
				{
					content: 'Характеристика основных направлений сквозных цифровых технологий',
					contentClass: 'h4 medium-weight',
				},
				{
					content: 'Большие данные',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					content: 'Под большими данными понимают структурированные и неструктурированные массивы данных	значительного объема, которые зачастую разрозненны относительно места своего хранения и различаются по своему типу (видеозаписи, машинный код, текстовые документы и так далее) и обрабатываются с помощью программных инструментов.',
					contentClass: 'h6',
				},
				{
					content: 'В широком смысле о больших данных принято понимать анализ масштабных наборов информации в конкретных проблемных областях. Сама суть технологии заключается не в создании большого количества данных, а в их структурном оформлении, которое отличается от общепринятого формата баз данных.',
					contentClass: 'h6',
				},
				{
					content: 'Нейротехнологии и искусственный интеллект',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: '<span class="medium-weight">Искусственный интеллект (ИИ)</span> - комплекс технологических решений, имитирующий когнитивные функции человека (включая самообучение и поиск решений без заранее заданного алгоритма) и позволяющий при выполнении задач достигать результаты, как минимум сопоставимые с результатами интеллектуальной деятельности человека.',
						contentClass: 'h6',
					},
				},
				{
					content: 'Комплекс технологических решений включает информационно-коммуникационную инфраструктуру, программное обеспечение, в котором в том числе используются методы машинного обучения, процессы и сервисы по обработке данных и выработке решений.',
					contentClass: 'h6',
				},
				{
					block: {
						content: '<span class="medium-weight">Нейротехнологии</span> - технологии, которые используют или помогают понять работу мозга, мыслительные процессы, высшую нервную деятельность, в том числе технологии по усилению, улучшению работы мозга и психической деятельности.',
						contentClass: 'h6',
					}
				},
				{
					content: 'В рамках дорожной карты «Искусственный интеллект и нейротехнологии» выделяют семь субтехнологий:',
					contentClass: 'h6 medium-weight',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'компьютерное зрение;',
							'обработка естественного языка;',
							'распознавание и синтез речи;',
							'рекомендательные системы и интеллектуальные системы поддержки принятия решений;',
							'перспективные методы и технологии в ИИ;',
							'нейропротезирование;',
							'нейроинтерфейсы, нейростимуляция и нейросенсинг.',
						],
					},
				},
				{
					content: 'Системы распределенного реестра',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					photo: {
						src: require('Images/technology-1.svg'),
					},
				},
				{
					content: 'В отличие от распределенных баз данных каждый участник системы распределенного реестра хранит всю историю изменений и верифицирует добавление любых изменений в систему с помощью определенного алгоритма, что гарантирует невозможность подделки данных. Ни один участник не может изменить данные в системе таким образом, что другие участники не узнают об этом. Благодаря этому данные, которые находятся внутри системы распределенного реестра, становятся доверенными, а все изменения – прозрачными.',
					contentClass: 'h6',
				},
				{
					content: 'Квантовые технологии',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					content: 'Цель квантовой технологии состоит в том, чтобы создать системы и устройства, основанные на принципах квантовой физики. Основная отличительная черта современных квантовых технологий — выход на новый технологический уровень, позволяющий манипулировать одиночными квантовыми объектами — атомами, ионами, электронами, фотонами и др.',
					contentClass: 'h6',
				},
				{
					content: 'Основы квантовых технологий составляют <span class="color-blue">три субтехнологии:</span>',
					contentClass: 'h4 medium-weight',
				},
				{
					threeColumns: [
						[
							{
								content: '01',
								contentClass: 'h6 medium-weight color-blue',
							},
							{
								content: 'Квантовые вычисления',
								contentClass: 'h6 medium-weight',
							},
							{
								content: 'Вычислительное устройство, которое использует явления квантовой механики для передачи и обработки данных.',
								contentClass: 'h6',
							},
						],
						[
							{
								content: '02',
								contentClass: 'h6 medium-weight color-blue',
							},
							{
								content: 'Квантовые коммуникации',
								contentClass: 'h6 medium-weight',
							},
							{
								content: 'Создание защищенных сетей связи.',
								contentClass: 'h6',
							},
						],
						[
							{
								content: '03',
								contentClass: 'h6 medium-weight color-blue',
							},
							{
								content: 'Квантовая сенсорика',
								contentClass: 'h6 medium-weight',
							},
							{
								content: 'Область по разработке сверхточных и чувствительных датчиков, которые можно будет применять в медицине, системах спутниковой связи и археологии.',
								contentClass: 'h6',
							},
						],
					],
				},
				{
					content: 'Привычные для нас смартфоны и плоские телевизоры — результат изучения квантовых технологий. Однако на этом развитие технологий в этой области не останавливается, сегодня одно из самых обсуждаемых направлений – создание квантового компьютера.',
					contentClass: 'h6',
				},
				{
					content: 'Новые производственные технологии',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Новые производственные технологии</span> — это комплекс процессов проектирования и изготовления на современном технологическом уровне кастомизированных (индивидуализированных) материальных объектов (товаров) различной сложности, стоимость которых сопоставима со стоимостью товаров массового производства.',
						contentClass: 'h6',
					},
				},
				{
					photo: {
						src: require('Images/technology-3.jpg'),
						isBorderRadius: true,
					},
				},
				{
					content: 'Сюда относятся:',
					contentClass: 'h6 medium-weight',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'<span class="medium-weight">новые материалы</span>;',
							'цифровое проектирование и моделирование, включая бионический дизайн;',
							'суперкомпьютерный инжиниринг;',
							'аддитивные и гибридные технологии.',
						],
					},
				},
				{
					content: 'Промышленный интернет',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Промышленный интернет вещей</span> — система объединенных компьютерных сетей и подключенных промышленных (производственных) объектов со встроенными датчиками и ПО для сбора и обмена данными, с возможностью удаленного контроля и управления в автоматизированном режиме, без участия человека. ',
						contentClass: 'h6',
					},
				},
				{
					content: 'Принцип работы состоит в том, что на ключевые части оборудования устанавливаются датчик, контроллеры и человеко-машинные механизмы. Это позволяет собрать объективные и точные данные о предприятии для совершенствования целого ряда процессов, например: принятия обоснованных решений, замены бумажной документации, предотвращения простоев и поломок. ',
					contentClass: 'h6',
				},
				{
					photo: {
						src: require('Images/technology-4.svg'),
						isBorderRadius: true,
					},
				},
				{
					content: 'Компоненты робототехники и сенсорика',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Робототехника</span> — прикладная наука, занимающаяся разработкой автоматизированных технических систем и являющаяся важнейшей технической основой интенсивного развития производства.',
						contentClass: 'h6',
					},
				},
				{
					content: '<span class="medium-weight">Робот</span> — это программируемое механическое устройство, способное выполнять задачи и взаимодействовать с внешней средой без помощи со стороны человека. Применение особенно актуально в среде труднодоступной или опасной для человека.',
					contentClass: 'h6',
				},
				{
					content: 'Робототехника опирается на такие дисциплины, как электроника, механика, телемеханика, механотроника, информатика, а также радиотехника и электротехника. Выделяют строительную, промышленную, бытовую, медицинскую, авиационную и экстремальную (военную, космическую, подводную) робототехнику.',
					contentClass: 'h6',
				},
				{
					content: '<span class="medium-weight">Сенсорика роботов</span> (система чувствительных датчиков) обычно копирует функции органов чувств человека: зрение, слух, обоняние, осязание и вкус. Чувство равновесия и положения тела в пространстве, как функция внутреннего уха, иногда считаются шестым чувством. Функционирование биологических органов чувств базируется на принципе нейронной активности, в то время как чувствительные органы роботов имеют электрическую природу.',
					contentClass: 'h6',
				},
				{
					content: 'Технологии беспроводной связи',
					contentClass: 'h4 medium-weight color-blue',
				},
				{
					content: 'К данному виду связи относятся такая передача данных, которая осуществляется в обход проводов или других физических сред: Bluetooth, Wi-Fi, сотовая связь.',
					contentClass: 'h6',
				},
				{
					content: 'Сама по себе беспроводная связь уже не представляет собой прорывную технологию в современном мире, но по основным показателям и скорости передачи данных беспроводная связь все еще не обходит проводную. Однако улучшение протоколов происходит год от года и большие надежды возлагаются на LTE.',
					contentClass: 'h6',
				},
				{
					content: 'Технологии виртуальной и дополненной реальностей',
					contentClass: 'h4 medium-weight color-blue'
				},
				{
					block: {
						content: '<span class="color-blue medium-weight">Виртуальная реальность</span> — созданный техническими средствами мир (объекты и субъекты), передаваемый человеку через его ощущения: зрение, слух, обоняние, осязание и другие.',
						contentClass: 'h6',
					},
				},
				{
					content: 'Виртуальная реальность имитирует как воздействие, так и реакции на воздействие. Как правило, поведение объектов виртуальной реальности приближено к поведению объектов материальной реальности. Данное направление особенно востребовано в рамках образовательных процессов, например в медицинской и промышленной отраслях.',
					contentClass: 'h6',
				},
				{
					block: {
						content: 'Дополненная реальность — результат введения в поле восприятия любых сенсорных данных с целью дополнения сведений об окружении и улучшения восприятия информации.',
						contentClass: 'h6',
					},
				},
				{
					content: 'Таким образом, эта технология позволяет на экране девайса визуализировать 3D-объекты в реальном времени и сочетать их с физическим пространством. Как и виртуальная реальность, она стремительно развивается и уже сейчас окружает простых пользователей – в мобильных приложениях карт или при покупке интерьера. С каждым днем открываются все новые области применения технологий дополненной реальности, что значительно сокращает временные и трудовые затраты на выполнение тех или иных процессов.',
					contentClass: 'h6',
				},
				{
					content: 'В новой национальной программе "Цифровая экономика Российской Федерации", утвержденной в конце 2018 года, перечень сквозных технологий не приводится, но в рамках федерального проекта «Цифровые технологии» были разработаны дорожные карты по приведенному выше списку технологий. ',
					contentClass: 'h5 medium-weight',
				},
				{
					content: 'Данные дорожные карты предполагают вариативность инструментов государственной поддержки: гранты, субсидирование процентной ставки по кредиту, финансирование лидирующих исследовательских центров (ЛИЦ), разработка и внедрение промышленных решений.',
					contentClass: 'h6',
				},
				{
					content: 'Для реализации этих мер используется ряд операторов, где каждый отвечает за определенный тип технологических задач. К ним относятся: Минпромторг, Министерство связи и цифрового развития, фонд «Сколково», Российский фонд развития информационных технологий, Фонд содействия инновациям, Российская венчурная компания (РВК). Само же финансирование предоставляется на конкурсной основе. ',
					contentClass: 'h6',
				},
				{
					photo: {
						src: require('Images/technology-7.jpg'),
						isBorderRadius: true,
					},
				},
				{
					content: 'Для государственной поддержки отечественных разработчиков Министерство цифрового развития, связи и массовых коммуникаций РФ (Минцифры) регулярно предоставляет гранты на разработку и внедрение российских цифровых решений. Осуществляется это посредством операторов, которыми выступают: ',
					contentClass: 'h6',
				},
				{
					list: {
						modes: ['blue'],
						contentType: 'bullet',
						contentClass: 'h6',
						content: [
							'Фонд содействия инновациям (ФСИ);',
							'Российский фонд развития информационных технологий (РФРИТ);',
							'Фонд «Сколково».',
						],
					},
				},
				{
					content: 'Данные меры осуществляются в рамках федерального проекта «Цифровые технологии» национальной программы «Цифровая экономика». Проекты, участвующие в конкурсах, должны соответствовать приоритетным направлениям поддержки, утвержденным президиумом правительственной комиссии по цифровому развитию, использованию информационных технологий и условий ведения предпринимательской деятельности.',
					contentClass: 'h6',
				},
				{
					fonds: [
						{
							photo: require('Images/ai-6.png'),
							content: [
								{
									content: 'Фонд содействия инновациям',
									contentClass: 'h3 medium-weight color-blue',
								},
								{
									content: 'Большая часть программ Фонда содействия инновациям (ФСИ) ориентирована на ИТ-стартапы (грант до 4 млн рублей) и те ИТ-компании, которые состоят в Реестре МСП в статусе малого или микропредприятия (гранты до 30 млн рублей). В зависимости от программы бюджетные средства могут быть предоставлены для:',
									contentClass: 'h6',
								},
								{
									list: {
										modes: ['blue'],
										contentType: 'bullet',
										content: [
											'Создания или доработки программного решения, где важной составляющей является технологическая и пользовательская новизна. ',
											'Основная расходная статья – заработная плата разработчикам. ',
											'Вывода продукта на новые рынки: незначительные доработки (например, перевод интерфейса на иностранные языки) и расширение производства (закупка оборудования и маркетинговые услуги).',
										],
										contentClass: 'h6',
									},
								},
							],
						},
						{
							photo: require('Images/ai-7.png'),
							content: [
								{
									content: 'Российский фонд развития информационных технологий',
									contentClass: 'h3 medium-weight color-blue',
								},
								{
									content: 'Более зрелые компании могут получить поддержку по программе «Разработка» Российского фонда развития информационных технологий (РФРИТ). Здесь сумма финансирования составляет до 500 млн рублей. Они предназначены, в том числе, для проектов, направленных на разработку программного обеспечения, включая дистанционные сервисы для удаленной работы, платформы для онлайн-образования или здравоохранения.',
									contentClass: 'h6',
								},
								{
									content: 'Кроме того, есть возможность получить финансирование в рамках цифровой трансформации производственных и управленческих процессов. Максимальная сумма грантов - до 300 млн рублей. Обязательное условие их получения - цифровые решения должны быть отечественными и соответствовать приоритетным направлениям поддержки. Грантовые средства могут быть направлены на расходные статьи, связанные с покупкой и внедрением отечественного решения на предприятии, а также соответствующей доработкой под нужды заказчика: зарплаты сотрудникам, приобретение программного обеспечения, оборудования и другие расходы.',
									contentClass: 'h6',
								},
							],
						},
						{
							photo: require('Images/ai-8.svg'),
							content: [
								{
									content: 'Фонд «Сколково»',
									contentClass: 'h3 medium-weight color-blue',
								},
								{
									content: 'Фонд «Сколково» предлагает гранты до 80 млн рублей компаниям на пилотное внедрение отечественных цифровых продуктов, сервисов и платформенных решений. Поддержку могут получить решения на базе технологий ИИ, виртуальной и дополненной реальности, робототехники и сенсорики, новых производственных технологий и технологий распределенных реестров, а также проекты дистанционных сервисов. Программа рассчитана на помощь для оптимизации бизнес-процессов компаниям из разных отраслей - промышленности, сельского хозяйства, медицины и других. Грант может покрыть до 80% стоимости проекта. Его можно потратить, например, на услуги разработчика, приобретение оборудования и лицензий.',
									contentClass: 'h6',
								},
							],
						},
					],
				},
			],
		};
		const callbackMainData = {
			modes: ['light'],
			title: 'Получите бесплатную консультацию',
			fields: [
				{
					type: 'text',
					name: 'name',
					placeholder: 'Ваше имя',
				},
				{
					type: 'tel',
					inputmode: 'tel',
					name: 'phone',
					placeholder: '+7 (___) ___-__-__',
				},
				{
					type: 'email',
					inputmode: 'email',
					name: 'email',
					placeholder: 'Электронная почта',
				},
			],
			button: {
				text: 'Оставить заявку',
				modes: ['transparent'],
			},
			policy: 'Нажимая кнопку «Оставить заявку», Вы даете свое согласие на обработку <a href="#" class="text-underline">персональных данных.</a>'
		};

	+article(e2eTechnologiesArticleData)
	include ../layouts/article-more
	+callback(callbackMainData)

block popups
	include ../layouts/article-popup
