extends ../layouts/default.pug

block append vars
	- title = 'Главная страница';

block content
	-
		const heroData = {
			title: 'Поддержка в получении грантов от Фонда содействия инновациям',
			subtitle: 'для компаний с выручкой от 15000000₽',
			button: {
				classes: '',
				text: 'Оставить заявку'
			},
			text: 'Миссия нашей компании - сделать меры грантовой поддержки проще и доступнее, экономя ресурсы и время вашей компании.',
		};
		const callbackMainData = {
			title: 'Получите бесплатную консультацию',
			fields: [
				{
					type: 'text',
					name: 'name',
					placeholder: 'Ваше имя',
				},
				{
					type: 'tel',
					inputmode: 'tel',
					name: 'phone',
					placeholder: '+7 (___) ___-__-__',
				},
				{
					type: 'email',
					inputmode: 'email',
					name: 'email',
					placeholder: 'Электронная почта',
				},
			],
			button: {
				text: 'Оставить заявку',
				modes: ['transparent'],
			},
			policy: 'Нажимая кнопку «Оставить заявку», Вы даете свое согласие на обработку <a href="#" class="text-underline">персональных данных.</a>'
		};
		const faqData = {
			items: [
				{
					caption: 'Что такое гранты НИОКР?',
					content: [
						{
							text: 'Грант на НИОКР – подразумевает проект, в котором планируется тестирование гипотезы при создании научно-технического продукта для снижения возможных рисков. НИОКР может проявляться в использовании новых методов искусственного интеллекта или других инструментов в сфере интересов Фонда, основная цель создание нового продукта с качественно превышающими характеристиками продуктов аналогов.',
						},
					],
				},
				{
					caption: 'Какой грант подходит для моей компании?',
					content: [
						{
							text: 'Для этого необходимо понимать   направление проекта, для  молодых стартапов подойдет программа Старт, так как по ней не требуется со-синансирование. Программа Развитие подойдет для компаний уже имеющий опыт коммерциализации продуктов (с выручкой больше 20 млн), которая планирует проведение НИКР с целью создания нового продукта или доработки уже имеющегося. Программа Коммерциализация подойдет для компаний уже завершивших НИОКР (с выручкой больше 20 млн) планирующих расширение масштабов производства или вывод на новые рынки продукта. ',
						},
					],
				},
				{
					caption: 'Как реализуется грант?',
					text: '',
					content: [
						{
							text: 'При подготовке документов на грант будет необходимо выбрать срок реализации проекта, от этого будет зависеть количество этапов (1 этап – это 6 месяцев, но можно закрыть в ускоренном режиме, но не менее чем за 3 месяца).',
						},
						{
							list: [
								'Можно выбрать 12 месяцев, тогда будет два этапа по 6 месяцев',
								'Можно выбрать 18 месяцев, тогда будет три этапа по 6 месяцев',
								'Можно выбрать 24 месяца, тогда будет четыре этапа по 6 месяцев',
							],
						},
						{
							text: 'Важно, что грант предоставляется траншами в соответствии с этапами. ',
						},
					],
				},
				{
					caption: 'Какая отчётность?',
					content: [
						{
							text: 'Грант реализуется траншами в   соответствии с заявленными   отчетными документами: Календарный План, Смета и ТЗ. Важно, что в рамках гранта будет необходимо выполнить все работы календарного плана, по которым будет необходимо подготовить научно-технический отчет. Смета является подтверждением целевого использования, поэтому реализовать грант нужно в соответствии с установленными в положении статьями расходования – по окончании каждого этапа будет   необходимо предоставить научно- технический и финансовый отчет. '
						},
						{
							text: 'Техническое задание подтверждается на последнем этапе реализации, где будет необходимо подтвердить заявленный функционал и количественные характеристики – это делается за счет разработки локальных отчётных документов, а именно “Протокол и программа методики испытаний” и “Алгоритм работы   программы”, “инструкция  пользователей, системного программиста и описание применение программы”. Важно! Отчетность не сдается каждый месяц, а только после окончания этапа (6 месяцев),  поэтому важно сразу следить за   правильной разработкой отчетной документации.',
						},
					],
				},
				{
					caption: 'В чем специфика  программ ФСИ?',
					content: [
						{
							text: 'Основные отличия Фонда содействия инновациям заключается в том, что грантовая поддержка выделяется по конкурсным программ в соответствии с приоритетными направлениями поддержки, которые регламентируются в каждом отдельном положении. Каждый проект должен соответствовать им, чтобы получить грантовую поддержку – это необходимо определить на первом этапе, чтобы не делать работу зря. Ниже представлены основные направления.',
						},
					],
				},
			],
		};

	+hero(heroData)
	include ../layouts/cases
	include ../layouts/work
	+callback(callbackMainData)
	include ../layouts/steps
	include ../layouts/reasons
	+faq(faqData)
	include ../layouts/directions
	include ../layouts/main-callback
