extends ../layouts/default.pug

block append vars
	- title = 'Методика определения УГТ';

block content
	-
		const methodologyArticleData = {
			mainMode: 'methodology',
			title: 'Методика определения УГТ',
			content: [
				{
					content: 'В рамках работы над инновационными проектами часто возникает вопрос о привлечении мер финансирования от государства. В данной статье будет рассмотрен один из инструментов для оценки потенциала технологического проекта к финансированию. Речь о методике УГТ (уровни готовности технологии).',
					contentClass: 'h3 medium-weight',
				},
				{
					content: 'Эта методика зачастую используется при организации приема конкурсных заявок, а также при выполнении экспериментальных разработок и поддержку производства, для определения стратегии развития проекта. На территории РФ методика регламентирована на основании утв. Минобрнауки России от 11.07.2017 N ГТ-57/14вн.',
					contentClass: 'h6',
				},
				{
					content: 'Уровни готовности технологии (УГТ)',
					contentClass: 'h4 medium-weight',
				},
				{
					content: 'Уровни готовности технологии (УГТ) — это характеристика соответствия конкретной технологии уровню ее зрелости от идеи до серийного производства, выражающаяся в определенном научном, научно-техническом или производственном результате, измеряемая соответствующими показателями результативности и соответствующая определенному диапазону вкладываемых бюджетных средств.',
					contentClass: 'h6',
				},
				{
					content: 'Основная цель использования уровней технологической готовности — помочь руководству в принятии решений, касающихся разработки технологии. Его следует рассматривать как один из нескольких инструментов, необходимых для управления ходом исследований и разработок в организации.',
					contentClass: 'h6',
				},
				{
					list: {
						contentType: 'arrow',
						contentClass: 'h6',
						content: [
							'Термин УГТ или Шкала уровней технологической готовности была разработана в США в конце прошлого века, чтобы отмечать этапы разработки новых технологий. В настоящее время данная шкала используется по всему миру и из первоначальных 7 уровней возросла до 9.',
						],
					},
				},
				{
					content: 'Текущий статус технологии определяется ответами на контрольные вопросы, содержащие качественные и количественные показатели, соответствующие тому или иному уровню. Оценка проводится исследователями, научно-исследовательскими институтами и организациями, задействованными в соответствующей области. Также к оценке могут привлекаться независимые эксперты.',
					contentClass: 'h6 medium-weight',
				},
				{
					boxContent: [
						{
							text: {
								contentClass: 'h4 medium-weight',
								content: 'На данный момент шкала УГТ представляет собой 9 уровней.',
							},
							aside: {
								contentClass: 'h4 medium-weight',
								content: 'Уровни 1 - 4:',
							},
							list: {
								caption: {
									contentClass: 'h4 medium-weight',
									content: 'Становление, оценка технологии, проведение испытаний',
								},
								contentClass: 'h6',
								content: [
									'Сформулирована идея продукта, подготовлено обоснование его полезности.',
									'Концепция технологии/продукта и/или их применения сформулированы. Подготовлено предварительное техническое задание. Установлены возможные области применения разработки',
									'Изготовлен макетный образец и продемонстрированы его ключевые характеристики',
									'Изготовлен лабораторный образец, подготовлен лабораторный стенд, проведены испытания базовых функций в связи с другими элементами системы',
								],
							},
						},
						{
							mode: ['blue'],
							aside: {
								contentClass: 'h4 medium-weight',
								content: 'Уровни 5 - 7:',
							},
							list: {
								caption: {
									contentClass: 'h4 medium-weight',
									content: 'Развитие / пре-производство',
								},
								contentClass: 'h6',
								content: [
									'Изготовлен экспериментальный образец, работоспособность технологии может быть продемонстрирована на детализированном макете в условиях, приближенным к реальным',
									'Изготовлен полнофункциональный образец на пилотной производственной линии, подтверждены рабочие характеристики в условиях, приближенных к реальности',
									'Прототип продукта продемонстрирован в составе системы в реальных условиях эксплуатации',
								],
							},
						},
						{
							mode: ['marine'],
							aside: {
								contentClass: 'h4 medium-weight',
								content: 'Уровни 8 - 9:',
							},
							list: {
								caption: {
									contentClass: 'h4 medium-weight',
									content: 'Непосредственное производство',
								},
								contentClass: 'h6',
								content: [
									'Полнофункциональный образец (реальная функционирующая система) изготовлен на производственной линии.',
									'Фактическое/реальное применение продукта в его. окончательном виде и в условиях выполнения реальных заданий, соответствующих эксплуатационным тестам и оценке.',
								],
							},
						},
					],
				},
				{
					content: 'Для самостоятельной оценки УГТ можно воспользоваться соответствующими «калькуляторами», которые формируют результат из ответов на контрольные вопросы.',
					contentClass: 'h4 medium-weight',
				},
				{
					content: 'Каждый уровень готовности технологии сопровождается подробным описанием. Например, для 1 уровня следует такое объяснение: это – «самый низкий уровень технологической готовности. Осуществляется переход от научных исследований к прикладным. Примеры могут включать теоретические исследования основных свойств технологии». А для 2 уровня необходимо ответить на большое число вопросов: определен ли заказчик технологии; определена ли площадка для применения запланированных для разработки систем или компонентов; предварительные исследования указывают на реализуемость технологии и т. д.',
					contentClass: 'h6',
				},
				{
					content: 'Статистически был выявлен один факт, что переход от уровня 4 к уровню 7 называется “долиной смерти”, так как требует серьезных инвестиций, времени, готовности к рискам и, часто, участия государства.',
					contentClass: 'h6',
				},
				{
					content: 'Данный инструмент обладает рядом преимуществ и недостатков.',
					contentClass: 'h4 medium-weight',
				},
				{
					columnsContent: [
						{
							caption: {
								contentClass: 'h5',
								content: 'Среди плюсов можно выделить:',
							},
							list: {
								contentClass: 'h5',
								content: [
									'Обеспечение общего понимания состояния технологии',
									'Управление рисками',
									'Удобство для принятия решений касающихся финансирования технологий',
								],
							},
						},
						{
							caption: {
								contentClass: 'h5',
								content: 'К минусам же относятся:',
							},
							list: {
								contentClass: 'h5',
								content: [
									'Готовность не обязательно соответствует уместности или технологической зрелости',
									'Сложность оценки готовности продукта в контексте специфической технологической среды',
								],
							},
						},
					],
				},
				{
					content: 'Примеры использования УГТ для оценки уровня, при подаче заявки на конкурсы от институтов развития РФ',
					contentClass: 'h3 medium-weight',
				},
				{
					content: 'В рамках Фонда содействия инновациям по программам, направленным на проведение НИКОР требуются следующие показатели:',
					contentClass: 'h5 medium-weight',
				},
				{
					rowsContent: [
						{
							caption: {
								contentClass: 'color-blue h6 medium-weight',
								content: 'Программа «Страт»',
							},
							text: {
								contentClass: 'h6',
								content: 'Программе «Страт», нацеленной на поддержку стартапов и проектов, которые находятся на самых начальных этапах, соответствует 1-ый или, реже 2-й уровень готовности технологии. Для подачи заявки необходимо определить идею продукта, обосновать его рыночную ценность и описать НИОКР.',
							}
						},
						{
							caption: {
								contentClass: 'color-blue h6 medium-weight',
								content: 'Программа «Развитие» ',
							},
							text: {
								contentClass: 'h6',
								content: 'Программе «Развитие» соответствует 2 и 3 уровень. Программа имеет схожие цели с программой «Старт», однако ориентирована на поддержку развитых предприятий, которые имеют положительную деловую репутацию и опыт продаж наукоемкой продукции на рынке, но ощущают необходимость проведения дополнительных НИОКР, позволяющих повысить эффективность работы.',
							}
						},
					],
				},
				{
					content: 'Существуют также программы, направленные на внедрение той или иной технологии. Средства финансирования распределяются на локализацию и интеграцию продукта в соответствии с целями определенной компании. Для таких программ требуется достаточно высокий уровень готовности. Например, для проектов, поддерживаемых фондом «Сколково» в соответствии с Постановлением Правительства РФ №555 от 03.05.2019 в рамках программы «Внедрение» требуется 5 уровень готовности. Для программ от РФРИТ (российский фонд развития информационных технологий) по направлению «Внедрение» на основании Постановления Правительства Российской Федерации от 3 мая 2019 г. № 550 «Об утверждении Правил предоставления субсидий из федерального бюджета на поддержку проектов по преобразованию приоритетных отраслей экономики и социальной сферы на основе внедрения отечественных продуктов, сервисов и платформенных решений, созданных на базе «сквозных» цифровых технологий»  требуется 8-9 уровень технологической готовности.',
					contentClass: 'h6',
				},
				{
					content: 'Существуют также следующие этапы готовности – производственная и рыночная готовность. Это следующие этапы, когда технология переходит в производство и коммерциализацию.',
					contentClass: 'h4 medium-weight',
				},
				{
					photo: {
						src: require('Images/metodic-1.jpg'),
						isBorderRadius: true,
					},
				},
				{
					content: 'Характеристики уровней производственной и рыночной готовности уже зависят стратегии и результатов реализации продукции.',
					contentClass: 'h6',
				},
				{
					content: 'В рамках ФСИ существует программа, направленная на масштабирование и выход компании на новые рынки. Предполагается, что НИКОР уже завершен, продукт уже реализуется на рынке. Соответственно для программы «Коммерциализация» требуется 7-8 уровень рыночной готовности.',
					contentClass: 'h6',
				},
				{
					content: 'Таким образом сама методика дает некий свод фактов и правил, которым должны удовлетворять проекты на определенных стадиях.',
					contentClass: 'h4',
				},
				{
					content: 'Важную роль оценка УГТ имеет при осуществлении трансфера технологий. Трансфер обеспечивает перемещение научных разработок от исследовательского отдела к производственному, поддерживая быстрые темпы интеграции изобретений. Соответственно, при передаче разработок необходимо четко позиционировать уровень готовности, чтобы подобрать наиболее релевантную стратегию реализации производственного процесса.',
					contentClass: 'h6',
				},
				{
					content: 'С точки зрения финансирования проекта - как правило, решение о вложении средств в проект на разных этапах проекта принимают управляющие лица, которые не являются техническими специалистами. И использование методики значительно упрощает вопрос оценки потенциала для любой сферы. Например, если технология на третьем уровне уже понятно, какой срок и уровень финансирования требуется для перехода на следующий уровень. Таким образом, данный инструмент позволит команде, работающей над проектом грамотно оценить потенциал к получению финансирования из различных источников, в том числе и от государственных институтов развития.',
					contentClass: 'h6',
				},
			],
			background: require('Images/backgrounds/methodology-background.png'),
		};
		const callbackMainData = {
			title: 'Получите бесплатную консультацию',
			fields: [
				{
					type: 'text',
					name: 'name',
					placeholder: 'Ваше имя',
				},
				{
					type: 'tel',
					inputmode: 'tel',
					name: 'phone',
					placeholder: '+7 (___) ___-__-__',
				},
				{
					type: 'email',
					inputmode: 'email',
					name: 'email',
					placeholder: 'Электронная почта',
				},
			],
			button: {
				text: 'Оставить заявку',
				modes: ['transparent'],
			},
			policy: 'Нажимая кнопку «Оставить заявку», Вы даете свое согласие на обработку <a href="#" class="text-underline">персональных данных.</a>'
		};


	+article(methodologyArticleData)
	+callback(callbackMainData)
	include ../layouts/article-more

block popups
	include ../layouts/article-popup
