extends ../layouts/default.pug

block append vars
	- title = 'Сопровождение отчетности';

block content
	-
		const heroData = {
			title: 'Сопровождение  сдачи отчетности по конкурсам программы «Развитие» от Фонда содействия инновациям',
			button: {
				text: 'Получить консультацию'
			},
			videoSrc: 'gwTtlS9Ks9g',
		};
		const featuresData = {
			items: [
				{
					icon: {
						name: '95%',
						viewBox: '0 0 167 48',
					},
					caption: 'отчетов сданы вовремя',
				},
				{
					icon: {
						name: '80%',
						viewBox: '0 0 172 48',
					},
					caption: 'отчетов приняты без замечаний',
				},
				{
					icon: {
						name: '50+',
						viewBox: '0 0 152 48',
					},
					caption: 'закрытых договоров',
				},
			],
		};
		const faqData = {
			items: [
				{
					caption: 'Если прошли сроки сдачи отчета, сможете ли вы нам помочь?',
					content: [
						{
							text: 'Да',
						},
						{
							text: 'Данную проблему можно решить, для этого необходимо продлить срок действия этапа и убедиться, что достаточно материалов.',
						}
					],
				},
				{
					caption: 'Помогаете ли вы закрывать этапы раньше срока?',
					content: [
						{
							text: 'Да',
						},
						{
							text: 'Это можно сделать, но срок не может быть меньше 3 месяцев. Для этого наши эксперты проведут первичную оценку, чтобы убедиться, что в проекте заявлено достаточное количество сотрудникв, а также будет возможность предоставить первичную информацию по работам календарного плана в ускоренном режиме.',
						}
					],
				},
				{
					caption: 'Можете ли вы не взять проект в работу?',
					content: [
						{
							text: 'Да',
						},
						{
							text: 'В случае если, по мнению наших экспертов, материалов по проетку будет недостаточно для подготовки хорошего отчета.',
						}
					],
				},
				{
					caption: 'Каким образом выстроена работа по сдаче отчетности?',
					content: [
						{
							text: 'Изначально экспертами компании Get-Grsnt проводится оценка заявленного технического задания и работ указанных в календарном плане. Далее для каждого проекта выделяется менеджер который будет вести проект вплоть до закрытия грантового соглашения, работа будет идти совместно с вашими сотрудниками. ',
						},
					],
				},
			],
		};


	+hero(heroData)
	+features(featuresData)
	include ../layouts/audit
	include ../layouts/services
	include ../layouts/report-services
	include ../layouts/appeal
	include ../layouts/quality
	+faq(faqData)
	include ../layouts/callback-new-popup
