extends ../layouts/default.pug

block append vars
	- title = 'Онлайн вебинар';

block content
	-
		const featuresData = {
			items: [
				{
					icon: {
						name: '70+',
						viewBox: '0 0 153 48',
					},
					caption: 'успешных кейсов привлечения грантов',
				},
				{
					icon: {
						name: 'more5year',
						viewBox: '0 0 261 47',
					},
					caption: 'работаем в сфере GR',
				},
				{
					icon: {
						name: '80%',
						viewBox: '0 0 172 48',
					},
					caption: 'от всего объема работ выполняем мы',
				},
			],
		};


	include ../layouts/webinar-hero
	+features(featuresData)
	include ../layouts/belief
	include ../layouts/about
	include ../layouts/team
