:root {
	--section-offset-top: 100rem;
	--section-offset-bottom: 120rem;
	--wrapper-offset: 16rem;
	--wrapper-size: 1140rem;

	@include to(980px) {
		--section-offset-top: 75rem;
		--section-offset-bottom: 90rem;
	}

	@include to(580px) {
		--section-offset-top: 50rem;
		--section-offset-bottom: 60rem;
	}
}

html {
	font-size: 1px;

	@include to(1200px) {
		font-size: #{div(100, div(1440, 1))}vw;
	}

	@include to(980px) {
		font-size: 0.7px;
	}

	@include to(580px) {
		font-size: 1px;
	}

	@include to(375px) {
		font-size: #{div(100, div(320, 1))}vw;
	}
}

body {
	position: relative;
	font-family: Inter, HalvarBreitschrift, sans-serif;
	font-size: 16rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25;
	color: $color;

	@include to(580px) {
		font-size: 14rem;
	}
}

img,
svg {
	max-width: 100%;
	vertical-align: top;
}

.wrap {
	width: 100%;
	margin: 0 auto;

	@include set-wrapper-size;
}

.icon {
	width: 100%;
}

.flex {
	display: flex;
	flex-flow: row wrap;

	&_inline {
		display: inline-flex;
	}

	&_column {
		flex-direction: column;
	}

	&_nowrap {
		flex-wrap: nowrap;
	}

	&_center {
		justify-content: center;
	}

	&_justify {
		justify-content: space-between;
	}

	&_left {
		justify-content: flex-start;
	}

	&_right {
		justify-content: flex-end;
	}

	&_start {
		align-items: flex-start;
	}

	&_vertical {
		align-items: center;
	}

	&_end {
		align-items: flex-end;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-underline {
	text-decoration: underline;
}

.object-fit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mobile-hidden {
	@include to(580px) {
		display: none !important;
	}
}

.tablet-hidden {
	@include to(980px) {
		display: none !important;
	}
}

.main-content {
	overflow: hidden;
}

.invisible-container {
	position: absolute;
	top: -9999px;
	left: -9999px;
	z-index: -1;
	width: 0;
	height: 0;
	overflow: hidden;
}

.no-select {
	user-select: none;
}

.no-pe {
	pointer-events: none;
}

.overflow-y {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
