.list {
	list-style-type: none;

	&__item {
		position: relative;
		padding-left: 20rem;

		@include to(580px) {
			padding-left: 15rem;
		}

		&:not(:last-child) {
			margin-bottom: 12rem;
		}

		&::before {
			position: absolute;
			top: 0.35em;
			left: 0;
			width: 8rem;
			height: 8rem;
			content: '';
			background-color: #fff;
			border-radius: 50%;

			@include to(580px) {
				top: 0.35em;
				width: 5rem;
				height: 5rem;
			}

			.list_dark & {
				background-color: #223147;
			}
		}
	}
}

.order-list {
	list-style-type: none;
	counter-reset: order-list;

	&__item {
		position: relative;
		padding-left: 20rem;

		&:not(:last-child) {
			margin-bottom: 12rem;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 15rem;
			font: inherit;
			color: inherit;
			content: counter(order-list) '.';
			counter-increment: order-list;
		}
	}
}

.arrow-list {
	list-style-type: none;

	&__item {
		position: relative;
		padding-left: 30rem;

		@include to(580px) {
			padding-left: 20rem;
		}

		&:not(:last-child) {
			margin-bottom: 12rem;
		}

		&::before {
			position: absolute;
			top: 0.15em;
			left: 0;
			width: 16rem;
			height: 16rem;
			content: '';
			background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8H15M15 8L8 1M15 8L8 15' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
				center center / cover no-repeat;

			@include to(580px) {
				width: 10rem;
				height: 10rem;
			}

			.arrow-list_blue & {
				background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8H15M15 8L8 1M15 8L8 15' stroke='%235897FB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
					center center / cover no-repeat;
			}
		}
	}
}

.light-weight {
	font-weight: 300;
}

.medium-weight {
	font-weight: 500;
}

.b,
b {
	font-weight: 600;
}

.strong,
strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.h1 {
	font-size: 48rem;
	line-height: 1.2;

	@include to(980px) {
		font-size: 36rem;
	}

	@include to(580px) {
		font-size: 24rem;
	}
}

.h2 {
	font-size: 40rem;
	line-height: 1.1;

	@include to(980px) {
		font-size: 32rem;
	}

	@include to(580px) {
		font-size: 24rem;
	}
}

.h3 {
	font-size: 32rem;
	line-height: 1.2;

	@include to(98px) {
		font-size: 26rem;
	}

	@include to(580px) {
		font-size: 20rem;
	}
}

.h4 {
	font-size: 28rem;
	line-height: 1.2;

	@include to(980px) {
		font-size: 22rem;
	}

	@include to(580px) {
		font-size: 16rem;
	}
}

.h5 {
	font-size: 24rem;
	line-height: 1.1;

	@include to(980px) {
		font-size: 20rem;
	}

	@include to(580px) {
		font-size: 16rem;
	}
}

.h6 {
	font-size: 20rem;
	line-height: 1.1;

	@include to(980px) {
		font-size: 18rem;
	}

	@include to(580px) {
		font-size: 16rem;
	}
}
