+b.SECTION.letter-popup.js-popup-letter
	+e.overlay.js-popup-close
	+e.wrap.js-popup-wrap.overflow-y
		+e.header.flex._nowrap._vertical._justify
			+e.H2.title.h4 Рекомендательное письмо
			+e.BUTTON.close.js-popup-close
				+icon({name: 'close', viewBox: '0 0 24 24'})
		+e.photo
			img.js-popup-photo(
				src=require('Images/cerft-1.jpg')
				alt='recommended letter')
