+b.SECTION.success-popup.js-popup-success
	+e.overlay.js-popup-close
	+e.wrap.js-popup-wrap.overflow-y.text-center
		+e.BUTTON.close.js-popup-close
			+icon({name: 'close', viewBox: '0 0 28 28'}).no-pe
		+e.H2.header.h2.font-halvar Ваша анкета принята!
		+e.subheader.h5 Мы свяжемся с вами в ближайшее время.
