+b.SECTION.video-popup.js-video-popup
	+e.overlay.js-popup-close
	+e.wrap.js-popup-wrap.overflow-y
		+e.BUTTON.close.js-popup-close
			+icon({name: 'close', viewBox: '0 0 28 28'}).no-pe
		+e.video
			.js-popup-video
