.field {
	width: 100%;
	cursor: text;

	&__item {
		display: block;
		width: 100%;
		padding-bottom: 12rem;
		font-size: 20rem;
		font-weight: 300;
		line-height: 1.1;
		color: #fff;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba(#fff, 0.5);
		outline: none;
		transition: border $default-transition-duration $default-transition-function;

		@include to(580px) {
			padding-bottom: 10rem;
			font-size: 16rem;
		}

		&:focus {
			border-color: #fff;
		}

		&::placeholder {
			color: rgba(#fff, 0.5);
		}

		.field_dark & {
			color: $color;
			border-color: rgba(#878888, 0.7);

			&:focus {
				border-color: #878888;
			}

			&::placeholder {
				color: rgba(#878888, 0.7);
			}
		}

		.field_blue & {
			color: #5897fb;
			border-color: rgba(#5897fb, 0.5);

			&:focus {
				border-color: #5897fb;
			}

			&::placeholder {
				color: rgba(#5897fb, 0.5);
			}
		}
	}
}
