.header {
	position: fixed;
	inset: 0 0 auto 0;
	z-index: 10;
	padding: 30rem 0;
	transition: background-color $default-transition-duration $default-transition-function;

	@include to(580px) {
		padding: 20rem 0;
	}

	&.is-sticked {
		background-color: rgb(13 33 44 / 50%);

		&:not(.is-opened) {
			backdrop-filter: blur(12rem);
		}
	}

	&.is-opened {
		background-color: $color;
	}

	&_blue {
		background-color: rgb(49 115 219);

		&.is-sticked {
			background-color: rgb(49 115 219 / 80%);
		}
	}

	&__logo {
		flex: 0 0 auto;
		width: 137rem;
		fill: #fff;

		@include from(981px) {
			margin-right: 120rem;
		}

		@include to(980px) {
			padding-right: 30rem;
			margin-right: auto;
		}

		@include to(580px) {
			width: 136rem;
		}
	}

	&__menu {
		@include from(981px) {
			flex: 1;
			max-width: 100%;
			overflow: hidden;
		}

		@include to(980px) {
			position: fixed;
			inset: 85rem 0 0 0;
			display: none;
			flex-flow: column nowrap;
			align-items: flex-start;
			padding: 20rem 16rem;
			overflow: hidden auto;
			background-color: $color;
			opacity: 0;
		}

		@include to(580px) {
			top: 63rem;
		}

		&-button {
			flex: 0 0 auto;
			width: 24rem;
			height: 24rem;

			@include from(981px) {
				display: none;
			}

			span {
				@include burger(24rem, 2px, 2px, #fff, 100rem);

				.header.is-opened & {
					@include burger-to-cross;
				}
			}
		}
	}

	&__nav {
		gap: 12rem;

		@include from(981px) {
			flex: 0 0 auto;
			max-width: 100%;
			padding-right: 30rem;
			margin-right: auto;
			overflow: hidden;
		}

		@include to(980px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__link {
		flex: 0 0 auto;
		font-size: 16rem;
		line-height: 1.1;
		color: #fff;
		transition: color $default-transition-duration $default-transition-function,
			opacity $default-transition-duration $default-transition-function;

		.header:not(.header_blue) & {
			&:hover {
				color: $color-blue;
			}
		}

		.header_blue & {
			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__socials {
		margin-right: 30rem;

		@include from(981px) {
			display: none;
		}

		.header__menu & {
			@include from(981px) {
				display: flex;
			}

			@include to(980px) {
				display: none;
			}
		}
	}

	&__button {
		border-radius: 5rem;

		.header_blue & {
			&:hover {
				background-color: #fff;
				opacity: 0.7;

				.button__text {
					color: $color;
				}
			}
		}

		@include to(980px) {
			margin-top: 32rem;
			background-color: $color;
			border: 1px solid #fff;
			border-radius: 10rem;

			.button__text {
				font-family: HalvarBreitschrift, sans-serif;
				font-weight: 400;
				color: #fff;
			}
		}
	}
}
